

li{
    background-color: rgb(238, 238, 245);
    background-color: white;
    list-style-type: none;
    width: 100%;
    margin-bottom: 25px;
    min-width: 50px;
    height: 50px;
    -webkit-box-shadow: 4px 4px 11px 1px rgba(0,0,0,0.4); 
    box-shadow: 4px 4px 11px 1px rgba(0,0,0,0.4);
    transition: .2s;
    z-index: 2;
    overflow: hidden;
}

li a{
    margin-top: -50px;
    margin-left: 70px;
    float: left;
    display: block;
    z-index: -1;
    text-decoration: none;
    color: rgb(85, 85, 85);
    width: 150px;
}

a li:hover{
    background-color: rgba(0, 110, 255, 0.137);
}

ion-icon{
    box-sizing: border-box;
    padding: 13px;
    margin-top: -8px;
    margin-left: -7px;
    width: 40px;
    height: 40px;
    color: rgb(0, 110, 255);
}

